td
{
    padding: 0 15px 5px 0;
}

td.book_img {
	padding: 5px;
}

img.book_cover
{
	width: 60px;
	height: 80px;
}

div.pagination, ul.pagination {
	display: inline-block !important;
}

tr {
	border-bottom: 2px solid #A0A0A0;
}